#one {
  grid-area: 1 / 1 / 2 / 2;
}

#two {
  grid-area: 1 / 2 / 2 / 3;
}

#three {
  grid-area: 1 / 3 / 2 / 4;
}

#four {
  grid-area: 1 / 4 / 2 / 5;
}


@media screen and (max-width: 655px){
  header {
    margin: 0 auto;
    padding-bottom: 0;
  }

  nav {
    border-radius: 0 15px 15px 0;
    box-shadow: 5px 5px 15px #000;
    display: flex;
    left: 0;
    position: fixed;
    top: 100px;
    transform: translate(-265px, 60px);
    transition: .5s ease-in-out;
    width: 300px;
  }

  nav:hover,
  nav:active {
    transform: translate(0, 60px);
  }

  #menu-trigger {
    background: radial-gradient(circle, #bcc8fc, #c2f1f1);
    border: 5px solid #000;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    display: block;
    order: 2;
    padding: .5rem;
  }

  nav ul {
    background-color: #333;
    border: 5px solid #000;
    border-left: none;
    flex: 1;
    list-style: none;
    margin: 0;
    padding: 1rem;
  }

  nav a {
    border-bottom: 1px dotted #fff;
    color: #fff;
    display: block;
    margin-bottom: 1rem;
    padding: 1rem;
    text-decoration: none;
    transition: .5s;
  }
  nav a:hover {
    background: radial-gradient(circle, #bcc8fc, #c2f1f1);
    color: #000;
  }

  #nav-links {
    display: block;
  }

  .nav-visible {
    transform: translateX(0); 
  }


  main {
    max-width: 80%;
    padding-top: 0;
  }

  main p {
    margin: 0, 0, 1rem, 0;
  }

  section ul {
    display: grid;
    grid: repeat(4, auto) / repeat(1, 1fr);
  }
  
  #one {
  grid-area: 1 / 1 / 2 / 2;
  }

  #two {
  grid-area: 2 / 1 / 3 / 2;
  }

  #three {
  grid-area: 3 / 1 / 4 / 2;
  }

  #four {
  grid-area: 4 / 1 / 5 / 2;
  }

  button {
    margin: 0 auto;
  }

}
